<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.axonomy.dapp_feed">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 应用安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
            android:name=".DAppApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".ui.mvp.totalcount.revenuerules.RevenueRulesActivity">
        </activity>
        <activity android:name=".ui.mvp.invitationhistory.InvitationHistoryActivity">
        </activity>
        <activity
                android:name=".ui.mvp.splash.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.mvp.login.LoginActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.chooseareacode.ChooseAreaCodeActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.main.MainActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.settings.SettingsActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.activity.PersonalInfoActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.kyc.KYCActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.totalcount.totalcashcount.TotalCashCountActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.totalcount.totalcoincount.TotalCoinCountActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.recharge.RechargeActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.web.DAppWebActivity"
                android:launchMode="singleTask"
                android:theme="@style/WebTheme"/>
        <activity
                android:name=".ui.activity.CommonWebActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.transfer.transfercoin.TransferCoinActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.transfer.transfercash.TransferCashActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.transferdetail.transfercashdetail.TransferCashDetailActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.mvp.transferdetail.transfercoindetail.TransferCoinDetailActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.activity.TransferSuccessActivity"
                android:launchMode="singleTask"/>
        <activity
                android:name=".ui.activity.RechargeSuccessActivity"
                android:launchMode="singleTask"/>

        <meta-data
                android:name="CHANNEL"
                android:value="${CHANNEL_VALUE}"/> <!-- 适配7.0文件系统 -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.axonomy.dapp_feed.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>